* {
    box-sizing: border-box;
}

body {
    background:black;
    display:flex;
    justify-content: center;
}

button {
    width:60px;
    height:60px;
    font-size:50px;
    font-weight:bolder;
}

#container {
    background-color: rgb(87, 85, 85);
    width:360px;
    height:300px;
    display:grid;
    grid-template-rows: 60px 300px;
}

.containerTop {
    background-color:rgb(102, 152, 170);
    height:60px;
    width:360px;
    border:1px solid rgb(131, 102, 102);
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.equation {
    font-size:25px;
    width:50px;
    height:50px;
}

.containerBottom {
    display:grid;
    grid-template-columns: 180px 60px 180px;
    width:300px;
    height:250px;
}

.numberPane {
    width:150px;
    height:200px;
    display:grid;
    grid-template-columns:50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
}



.operators {
    color:deepskyblue;
}

.backspaceBtn {
    height:120px;
}

.periodBtn {
    width:120px;
}

.numbers {
    color:black;
}

.otherBtns {
    width:120px;
    font-size:40px;
    background-color:rgb(0, 0, 0);
    color:deepskyblue;
}

.otherBtns:hover {
    background-color:deepskyblue;
    color:black;
}


