* {
    box-sizing: border-box;
}

body {
    background:black;
    display:flex;
    justify-content: center;
}

button {
    width:60px;
    height:60px;
}

#container {
    background-color: rgb(87, 85, 85);
    width:360px;
    height:300px;
    display:grid;
    grid-template-rows: 60px 300px;
}

.containerTop {
    background-color:deepskyblue;
    height:60px;
    width:360px;
    border:1px solid gray;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.containerBottom {
    display:grid;
    grid-template-columns: 180px 60px 180px;
    width:300px;
    height:250px;
}

.numberPane {
    width:150px;
    height:200px;
    display:grid;
    grid-template-columns:50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
}


.number,
.operators {
    font-size:50px;
    font-weight:bolder;
    color:black;
}

.operators {
    color:deepskyblue
}

.equation {
    font-size:50px;
    width:50px;
    height:50px;
}

